[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/vim-yaml"]
	path = vim/plugins/vim-yaml
	url = https://github.com/avakhov/vim-yaml
[submodule "vim/plugins/indentpython.vim"]
	path = vim/plugins/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/plugins/syntastic"]
	path = vim/plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/plugins/vim-gitgutter"]
	path = vim/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/plugins/vim-airline"]
	path = vim/plugins/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/plugins/dracula-theme"]
	path = vim/plugins/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "vim/plugins/adventurous-theme"]
	path = vim/plugins/adventurous-theme
	url = https://github.com/Dru89/vim-adventurous.git
[submodule "vim/plugins/neuromancer-theme"]
	path = vim/plugins/neuromancer-theme
	url = https://github.com/Zabanaa/neuromancer.vim.git
[submodule "vim/plugins/distinguished-theme"]
	path = vim/plugins/distinguished-theme
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim/plugins/fzf.vim"]
	path = vim/plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
